<%# app/views/people/_address_fields.html.erb %>
<div class="nested-fields">

  <div>
    <%= f.label :latitude%>
    <%= f.number_field :latitude%>
  </div>
  <div>
    <%= f.label :longitude%>
    <%= f.number_field :longitude%>
  </div>


</div>
