<div class="content">
  <div class="container">
    <h2 class="mb-5 text-center">Inventory</h2>
    <div class="table-responsive custom-table-responsive">
      <table class="table custom-table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Points</th>
          </tr>
        </thead>
        <%= render @items %>
      </table>
    </div>
  </div>
</div>
