// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home_video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: -2;
 }

 h1.home {
   color: white;
 }

.homewrapper {
  height:100vh;
  margin:auto;
  width:50%;
  padding: 30% 0;
 }
