// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  top: 0;
  z-index: -2;
}

h1.home {
  color: white;
}

.avatar {
  height: 40px;
  width: auto;
}

.home-wrapper {
  height: 100vh;
  margin: auto;
  width: 80%;
  padding: 30% 0;
}

.card {
  margin-bottom: 10px;
}
