<div class="content">
  <div class="container">
    <h2 class="mb-5 text-center">Inventory</h2>
    <div class="table-responsive custom-table-responsive">
      <table class="table custom-table">
        <thead>
          <tr>
            <th scope="col">Reciever</th>
            <th scope="col">Sender</th>
            <th scope="col">Status</th>
            <th scope="col">items </th>
          </tr>
        </thead>
        <%= render @trades %>
      </table>
    </div>
  </div>
</div>
